@font-face {
    font-family: Helvetica;
    src: url(../font/helvetica-255/Helvetica.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

section {
    align-items: center;
    justify-items: center;
    justify-content: center;
    display: flex;
}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -12px;
    margin-right: -12px;
}

/* col property */
.col-12 {
    width: 16.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

/***** col property end *****/

.justify-content-between {
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

.align-item {
    align-items: center;
}

.w-100 {
    width: 100%;
}

.gap-24 {
    gap: 24px;
}

.pt-109 {
    padding-top: 109px;
}

.pt-20 {
    padding-top: 20px;
}

.bg-img {
    background-image: url(../images/header-bg-img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 200px;
}

.about {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    text-align: left;
    color: #FFFFFF;
    opacity: 90%;
}

.navbar-up-hover:hover {
    transform: scale(1.2);
    transition: all 300ms linear;
}

.btn {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
    color: #00171F;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 20px;
    width: 154px;
    height: 48px;
    cursor: pointer;
    padding-left: 20px;
}

.btn:hover {
    border-radius: 0px;
    transition: all 500ms linear;
}

.flex-grow {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-direction {
    flex-direction: column;
}

.heading {
    font-family: Helvetica;
    font-size: 64px;
    font-weight: 400;
    line-height: 70.4px;
    text-align: left;
    color: white;
    max-width: 1065px;
    width: 100%;
}

.heading span {
    font-family: Helvetica;
    font-size: 64px;
    font-weight: 700;
    line-height: 70.4px;
    text-align: left;
}

.para {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: white;
    max-width: 1020px;
    width: 100%;
    opacity: 90%;
    padding-top: 16px;
}

.input {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.6px;
    text-align: left;
    width: 100%;
    height: 66px;
    padding: 9px 9px 9px 22px;
    border-radius: 0px 100px 100px 20px;
    border: 1px;
    margin-bottom: 85px;
    margin-top: 100px;
    color: #7F8A8E;
    outline: 0;
}

.input-btn {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
    line-height: 18.4px;
    background: #00A8E8;
    position: absolute;
    right: 14%;
    top: 43%;
    border: none;
    border-radius: 0px 50px 50px 50px;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
}

.input-btn:hover {
    border-radius: 0px;
    transition: all 500ms linear;
}

.dot-img {
    position: absolute;
    top: 19%;
    right: -12%;
    z-index: 1;
}

.gap-3 {
    gap: 3px;
}

.position-relative {
    position: relative;
}

.justify-content-center {
    justify-content: center;
}

.margin-auto {
    margin: auto;
}

.end {
    font-family: Helvetica;
    font-size: 38px;
    font-weight: 400;
    line-height: 41.8px;
    text-align: left;
    color: #003459;
    max-width: 548px;
    padding-top: 70px;
}

.end span {
    font-family: Helvetica;
    font-size: 38px;
    font-weight: 700;
    line-height: 41.8px;
    text-align: left;
    color: #00A8E8;
}

.woman-img {
    border-radius: 4px;
    z-index: 2;
}

.mb-24 {
    margin-bottom: 24px;
}

.pb-40 {
    padding-bottom: 40px;
}

.flex-direction-row {
    flex-direction: row;
}

.mt-203 {
    margin-top: 203px;
}

.mt-162 {
    margin-top: 162px;
}

/***** header end *****/

/***** section 1 *****/

.switching {
    font-family: Helvetica;
    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px;
    text-align: left;
    max-width: 409px;
    color: #00171F;
}

.switching span {
    font-family: Helvetica;
    font-size: 48px;
    font-weight: 400;
    line-height: 52.8px;
    text-align: left;
}

.say-goodbye {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    opacity: 90%;
    max-width: 558px;
    color: #00171F;
    padding-top: 16px;
}

.benefits {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 400;
    line-height: 26.4px;
    text-align: left;
    color: #003459;
    padding-top: 38px;
}

.pt-28 {
    padding-top: 28px;
}

.pl-16 {
    padding-left: 16px;
}

.pt-8 {
    padding-top: 8px;
}

.mb-162 {
    margin-bottom: 162px;
}

.save-money {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #00171F;
    opacity: 90%;
    list-style-type: disc;
}

.btn-2 {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
    text-align: left;
    padding: 12px 20px 12px 20px;
    border-radius: 0px 50px 50px 20px;
    background-color: #00A8E8;
    color: #FFFFFF;
    margin-top: 42px;
    border: none;
    cursor: pointer;
}

.btn-2:hover {
    border-radius: 0px;
    transition: all 500ms linear;
}

.gap-44 {
    gap: 44px;
}

.logo-svg-1,
.logo-svg-2,
.logo-svg-3,
.logo-svg-4,
.logo-svg-5,
.logo-svg-6,
.logo-svg-7 {
    filter: grayscale(100%);
}

.logo-svg-1:hover,
.logo-svg-2:hover,
.logo-svg-3:hover,
.logo-svg-4:hover,
.logo-svg-5:hover,
.logo-svg-6:hover,
.logo-svg-7:hover {
    filter: none;
}

.logo-svg-item {
    flex-direction: row;
    display: flex;
}

/***** section 1 end *****/

/***** section 2 *****/

.simple {
    font-family: Helvetica;
    font-size: 48px;
    font-weight: 400;
    line-height: 52.8px;
    text-align: center;
    color: #00171F;
}

.simple span {
    font-family: Helvetica;
    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px;
    text-align: center;
}

.lorem {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: center;
    color: #4B4B4B;
    opacity: 90%;
    padding-top: 16px;
    max-width: 610px;
}

.pt-58 {
    padding-top: 58px;
}


.row-gap-20 {
    row-gap: 20px;
}

.card {
    overflow: hidden;
}

.parent-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card::before {
    content: "";
    background-color: #EAF8FE;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 94%;
}

.card:hover::before {
    background-color: none;
    opacity: 0%;
    transition: all 1s linear;
}

.card:hover .card-up-text-1 {
    display: none;
    transform: translateY(-10%);
}

.card:hover .card-up-text-2 {
    display: none;
    transform: translateY(-10%);
}

.card:hover .card-up-text-3 {
    display: none;
    transform: translateY(-10%);
}

.card:hover .card-up-text-4 {
    display: none;
    transform: translateY(-10%);
}

.card-up-text-1 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    text-align: left;
    position: absolute;
    white-space: nowrap;
    rotate: -90deg;
    bottom: 46.5%;
}

.card-up-text-2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    text-align: left;
    position: absolute;
    white-space: nowrap;
    rotate: -90deg;
    bottom: 28.5%;
}

.card-up-text-3 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    text-align: left;
    position: absolute;
    white-space: nowrap;
    rotate: -90deg;
    bottom: 21.5%;
}

.card-up-text-4 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    text-align: left;
    position: absolute;
    white-space: nowrap;
    rotate: -90deg;
    bottom: 30.5%;
}

.card-text {
    padding: 32px;
    background-color: #003459;
    position: absolute;
    bottom: -1%;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 1s linear;
}

.card:hover .card-text {
    transform: translateY(0%);
}

.card-heading {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.card-para {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    max-width: 286px;
    color: #ffffff;
}

.up-text-card-position-1 {
    position: absolute;
    left: -30%;
}

.up-text-card-position-2 {
    position: absolute;
    left: 6%;
}

.up-text-card-position-3 {
    position: absolute;
    left: 20%;
}

.up-text-card-position-4 {
    position: absolute;
    left: 3%;
}

.pb-58 {
    padding-bottom: 58px;
}

/***** section 2 end *****/

/***** section 3 *****/

.comprehensive {
    font-family: Helvetica;
    font-size: 48px;
    font-weight: 400;
    line-height: 52.8px;
    text-align: left;
    max-width: 456px;
}

.comprehensive span {
    font-family: Helvetica;
    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px;
    text-align: left;
}

.accordion-head {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 400;
    line-height: 26.4px;
    text-align: left;
    opacity: 90%;
    color: #00171F;
    padding-left: 24px;
}

.accordion-content {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: #00171F;
    opacity: 90%;
    padding-left: 102px;
    padding-top: 8px;
}

.pt-46 {
    padding-top: 46px;
}

.pt-50 {
    padding-top: 50px;
}

details {
    border: 1px solid #00000014;
    padding-top: 19px;
    padding-bottom: 19px;
    border-radius: 4px;
    cursor: pointer;
}

.accordion-circle {
    width: 64px;
    height: 64px;
    padding: 15px;
    border-radius: 50px;
    background-color: #EAF9FF;
}

.accordion {
    max-width: 558px;
}

.mt-24 {
    margin-top: 24px;
}

.arrow-svg {
    margin-right: 14px;
}

.accordion-circle {
    margin-left: 14px;
}

.fuel-icon {
    margin-left: 4px;
    margin-top: 2px;
}

.internet-icon {
    margin-left: 1px;
    margin-top: 1px;
}

.box-icon {
    margin-left: 1px;
    margin-top: 1px;
}

details[open] {
    box-shadow: 0px 0px 13.9px 0px #0000001A;
}

details[open] .arrow-svg {
    transform: rotate(180deg);
}

details[open] .accordion-circle {
    background-color: #003459;
}

details[open] .blub-icon path {
    fill: white;
}

details[open] .fuel-icon path {
    fill: white;
}

details[open] .internet-icon path {
    fill: white;
}

details[open] .box-icon path {
    fill: white;
}



/***** section 4 *****/

.head {
    font-family: Helvetica;
    font-size: 48px;
    font-weight: 400;
    line-height: 52.8px;
    text-align: left;
    color: #00171F;
}

.head span {
    font-family: Helvetica;
    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px;
    text-align: left;
    color: #00171F;
}

.emphasizes {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #00171F;
    opacity: 90%;
    max-width: 620px;
}

.pt-16 {
    padding-top: 16px;
}

.card-1 {
    max-width: 424px;
    border-radius: 4px;
    background-color: #003459;
}

.card-2 {
    max-width: 334px;
    border-radius: 4px;
    border: 1px solid #00171F1A;
    box-shadow: 0px 0px 13.9px 0px #0000001A;
}

.star-svg {
    padding-top: 40px;
    padding-left: 40px;
}

.tailored {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 400;
    line-height: 26.4px;
    text-align: left;
    color: white;
    padding-left: 40px;
    padding-top: 30px;
}

.our {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    opacity: 90%;
    color: white;
    max-width: 344px;
    padding-left: 40px;
    padding-top: 12px;
    padding-bottom: 114px;
}

.simplified {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 400;
    line-height: 26.4px;
    text-align: left;
    color: #010101;
    max-width: 286px;
    padding-left: 24px;
    padding-top: 18px;
}

.card-2-svg {
    margin-left: 24px;
    margin-top: 24px;
}

.paragraph {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    max-width: 333px;
    opacity: 90%;
    color: #00171F;
    padding-left: 24px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.pb-74 {
    padding-bottom: 74px;
}

.pb-50 {
    padding-bottom: 50px;
}

@media (max-width:991.98px) {
    .link {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        background-color: #09466D;
        transition: all 200ms linear;
        align-items: center;
        z-index: 3;
    }

    .flex-direction {
        flex-direction: column;
    }

    label[for="openslider"] {
        width: 30px;
        height: 23px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 5;
    }

    label[for="openslider"] span {
        width: 100%;
        height: 5px;
        background-color: white;
        border-radius: 3px;
        transition: all 200ms linear;
    }

    input:checked~.link {
        right: 0;
    }


    input:checked~label[for="openslider"] span:first-child {
        transform: rotate(37deg);
        transform-origin: left;
    }

    input:checked~label[for="openslider"] span:last-child {
        transform: rotate(-37deg);
        transform-origin: left;
    }

    input:checked~label[for="openslider"] span:nth-child(2) {
        transform: translateX(-30px);
        opacity: 0;
        visibility: hidden;
    }

    .logo-svg-item {
        flex-wrap: wrap;
    }

    .pt-lg-30 {
        padding-top: 30px;
    }

    .navbar {
        position: fixed;
        left: 0;
        right: 0;
        background: #09476e;
        z-index: 5;
    }

    .heading {
        font-size: 40px;
        line-height: unset;
    }

    .heading span {
        font-size: 40px;
        line-height: unset;
    }

    .woman-img {
        padding-top: 80px;
        width: 100%;
    }

    .end {
        font-size: 30px;
        line-height: unset;
    }

    .end {
        padding-top: 70px;
        text-align: center;
        color: white;
    }

    .dot-img {
        position: absolute;
        top: 6%;
        right: -9%;

    }

    .bg-img {
        border-bottom-left-radius: 0px;
    }

    .pt-65 {
        padding-top: 65px;
    }

}

@media (min-width:992px) {
    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .input {
        max-width: 476px;
    }

    .woman-img {
        transform: translateY(190px);
    }

    .end {
        transform: translateY(0px);
    }

    .both {
        transform: translateY(190px);
    }

    .w-507 {
        width: 507px;
    }

    .accordion {
        width: 558px;
    }

    .ml-lg-50 {
        margin-left: 50px;
    }
}

@media (max-width:1199.98px) {
    .dot-img {
        display: none;
    }
}

@media (max-width:1176.98px) {
    .gap-44 {
        gap: 25px;
    }
}

@media (max-width:479.98px) {

    .logo-svg-1,
    .logo-svg-2,
    .logo-svg-3,
    .logo-svg-4,
    .logo-svg-5,
    .logo-svg-6,
    .logo-svg-7 {
        max-width: 80px;
    }
}

@media (max-width:767.98px) {
    .mt-203 {
        margin-top: 50px;
    }

    .mb-162 {
        margin-bottom: 50px;
    }
}

@media (max-width:575.98px) {
    .input-btn {
        top: 70%;
        left: 25%;
        justify-content: center;
        display: flex;
    }

    .mb-162 {
        margin-bottom: 81px;
    }

    .comprehensive {
        font-size: 40px;
    }

    .comprehensive span {
        font-size: 40px;
    }
}